[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
openai = "*"
pdfquery = "*"
streamlit-chat = "*"
langchain = "*"
pypdfium2 = "*"
chromadb = "*"
tiktoken = "*"
pypdf = "*"
pypdf2 = "*"
scikit-learn = "*"
faiss-cpu = "*"
pdfplumber = "*"
beautifulsoup4 = "*"
audio-recorder-streamlit = "*"

[dev-packages]

[requires]

